<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Delete Idea</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Delete an Idea:</h1>
<h3>you cannot delete an Idea in Development</h3>
<form th:action="@{/deleteIdea}"
      th:object="${idea}" method="POST">
  Name:
  <input type="text" th:field="*{name}"/>
  <br/>
  <input type="submit" value="Delete"/>
</form>

<br/>

<a href="back">Back</a>
<br/><br/>

</body>
</html>