<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Discarded Idea List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Discarded Idea List</h1>
<a href="readdIdea">Readd Idea</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Development</th>
      <th>Name Employee</th>
      <th>Priority</th>
      <th>Discarded</th>
    </tr>
    <tr th:each="idea : ${discardedIdeas}">
      <td th:utext="${idea.name}">...</td>
      <td th:utext="${idea.inhalt}">...</td>
      <td th:utext="${idea.dev}">...</td>
      <td th:utext="${idea.nameMitarbeiter}">...</td>
      <td th:utext="${idea.prio}">...</td>
      <td th:utext="${idea.discarded}">...</td>
    </tr>
  </table>
</div>
<br/><br/>
<a href="back">Back</a>
<br/><br/>
</body>
</html>