<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Edit/Discard Idea</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Edit/Discard Idea:</h1>

<form th:action="@{/editIdea}"
      th:object="${idea}" method="POST">
  Name:
  <input type="text" th:field="*{name}"/>
  <br/>
  Content:
  <input type="text" th:field="*{inhalt}"/>
  <br/>
  Development:
  <input type="text" th:field="*{dev}"/>
  <br/>
  Name Employee:
  <input type="text" th:field="*{nameMitarbeiter}"/>
  <br/>
  Priority:
  <input type="number" th:field="*{prio}"/>
  <br/>
  Discarded:
  <input type="text" th:field="*{discarded}"/>
  <br/>
  <input type="submit" value="Edit"/>
</form>

<br/>
<a href="back">Back</a>
<br/><br/>
</body>
</html>