<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Idea List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Idea List</h1>
<a href="addIdea">Add Idea</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Development</th>
      <th>Name Employee</th>
      <th>Priority</th>
      <th>Discarded</th>
    </tr>
    <tr th:each="idea : ${ideas}">
      <td th:utext="${idea.name}">...</td>
      <td th:utext="${idea.inhalt}">...</td>
      <td th:utext="${idea.dev}">...</td>
      <td th:utext="${idea.nameMitarbeiter}">...</td>
      <td th:utext="${idea.prio}">...</td>
      <td th:utext="${idea.discarded}">...</td>
    </tr>
  </table>
</div>
<br/><br/>
<a href="deleteIdea">Delete Idea</a>
<br/><br/>
<a href="editIdea">Edit/Discard Idea</a>
<br/><br/>
<a href="discardedList">Discarded Ideas</a>
<br/><br/>
<a href="load">Load Ideas (only once per session)</a>
<br/><br/>
<a href="save">Save Changes</a>
<br/><br/>
</body>
</html>