<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Idea Backlog</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Idea Backlog</h1>
<h2>This is a Backlog for your Ideas</h2>
<a th:href="@{/ideaList}">Idea List</a>

</body>

</html>