<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Readd Idea</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Readd an Idea:</h1>

<form th:action="@{/readdIdea}"
      th:object="${idea}" method="POST">
  Name:
  <input type="text" th:field="*{name}"/>
  <br/>
  <input type="submit" value="Readd"/>
</form>

<br/>
<a href="back">Back</a>
<br/><br/>

</body>
</html>